<!-- templates/roster_index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Chemo Fighter</h1>

<div class='coloum'>
    <a href='/team/select' class='btn btn-default navbar-btn'>Start Fight</a>
    <a href='/roster/new' class='btn btn-default navbar-btn'>New Character</a>
</div>

<div class='row'>
    {% for character in roster %}
        <div class='col-md-3'>
            <h2><a href='/roster/{{ character._id }}'>{{ character.name }}</a></h2>
        </div>
    {% endfor %}
</div>
{% endblock %}