<!-- templates/team_select.html -->

<fieldset>
        <legend>{{ title }}</legend>
        <!-- Team One -->
        <div class='form-group'>
            <label for='Team-One'>Size of team 1?</label><br>
            <input class='form-control' id='team-one' type='text' name='one' value='{{ one }}'/>
        </div>
        <!-- Team Two -->
        <div class='form-group'>
            <label for='Team-Two'>Size of team 2?</label><br>
            <input class='form-control' id='character-name' type='text' name='two' value='{{ two }}'/>
        </div>
</fieldset>

<!-- BUTTON -->
<p>
        <a href='/team/choose' class='btn btn-default navbar-btn'>Next</a>
</p>