<!-- templates/team_select.html -->

<fieldset>
        <legend>{{ title }}</legend>
        <!-- Team One -->
        <select id='dropdown1' name = "dropdown1">
            {% for character in roster %}
                <option value = '{{ character._id }}' selected> {{ character.name }}</option>
            {% endfor %}
        </select>
        <select id='dropdown2' name = "dropdown2">
            {% for character in roster %}
                <option value = '{{ character._id }}' selected> {{ character.name }}</option>
            {% endfor %}
        </select>
</fieldset>

<fieldset>
        <legend>{{ title }}</legend>
        <!-- Team Two -->
        <select id='dropdown4' name = "dropdown4">
            {% for character in roster %}
                <option value = '{{ character._id }}4' selected> {{ character.name }}</option>
            {% endfor %}
        </select>
        <select id='dropdown5' name = "dropdown5">
            {% for character in roster %}
                <option value = '{{ character._id }}5' selected> {{ character.name }}</option>
            {% endfor %}
        </select>
        <select nid='dropdown6' name = "dropdown6">
            {% for character in roster %}
                <option value = '{{ character._id }}6' selected> {{ character.name }}</option>
            {% endfor %}
        </select>
</fieldset>